.navbar{
    box-shadow: none !important;
    background-color: var(--bodyBG) !important;
}

.btn:hover{
  background-color: transparent !important;
}

.btn{
  text-transform: none !important;
}

.btnContained{
  text-transform: none !important;
  background-color: var(--dark) !important;
  color: #fff !important;
  /* padding-block: 8% !important;
  padding-inline: 15% !important; */
  text-align: center !important;
  font-weight: 300 !important;
}

.brand{
  font-weight: 900 !important;
  font-size: 1.3em !important;
  vertical-align: middle !important;
  display: inline-block !important;
  font-family: var(--classicFont);
  color:#000;
  text-decoration: none !important;
}

.logo{
  vertical-align: middle !important;
}

.btnContained:hover{
  background-color: var(--dark) !important;
}

.appdrawer{
  background-color: var(--bodyBG)!important;
}

.drawerContent{
  background-color: var(--bodyBG)!important;
  text-align: start !important;
  margin-top: 16%;
  padding: 10% !important;
  padding-inline: 15% !important;
  display: grid;
}

.mobileBtn{
  color: #000 !important;
  text-transform: none !important;
  font-size: 1.2em !important;
  padding: 2% !important;
  justify-content: start !important;
  background-color: transparent !important;
  text-align: left !important;
  margin-bottom: 5% !important;
  width: 100% !important;
}

.nav-btn{
  border-radius: 50em !important;
  text-align: center !important;
  transition: 0.4s ease-in-out !important;
}

.nav-btn:hover{
  transition: 0.2s ease-in-out !important;
  transform: translateY(10%) !important;
}

.menuIcon{
  color: #000 !important;
}

.launchIcon{
  font-weight: 300 !important;
  font-size: 1em !important;
  vertical-align: middle !important;
}

.navarrowicon{
  position: absolute;
  right: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }

@media only screen and (max-width: 699px) {
  .nav-btnMobile{
    display: none !important;
  }
  .menuIcon{
    display: block !important;
  }
}

@media only screen and (min-width: 700px) {
  .menuIcon{
    display: none !important;
  }
}